USE [master]
GO
/****** Object:  Database [DBVENTAS]    Script Date: 11/11/2024 23:30:26 ******/
CREATE DATABASE [DBVENTAS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBVENTAS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\DBVENTAS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DBVENTAS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\DBVENTAS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBVENTAS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBVENTAS]
GO
/****** Object:  UserDefinedTableType [dbo].[DetalleCompra]    Script Date: 11/11/2024 23:30:26 ******/
CREATE TYPE [dbo].[DetalleCompra] AS TABLE(
	[IdProducto] [int] NULL,
	[PrecioCompra] [decimal](18, 2) NULL,
	[PrecioVenta] [decimal](18, 2) NULL,
	[Cantidad] [int] NULL,
	[MontoTotal] [decimal](18, 2) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[EDetalle_Compra]    Script Date: 11/11/2024 23:30:26 ******/
CREATE TYPE [dbo].[EDetalle_Compra] AS TABLE(
	[IdProducto] [int] NULL,
	[PrecioCompra] [decimal](18, 2) NULL,
	[PrecioVenta] [decimal](18, 2) NULL,
	[Cantidad] [int] NULL,
	[MontoTotal] [decimal](18, 2) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[EDetalle_Venta]    Script Date: 11/11/2024 23:30:26 ******/
CREATE TYPE [dbo].[EDetalle_Venta] AS TABLE(
	[IdProducto] [int] NULL,
	[PrecioVenta] [decimal](18, 2) NULL,
	[Cantidad] [int] NULL,
	[SubTotal] [decimal](18, 2) NULL
)
GO
/****** Object:  Table [dbo].[CATEGORIA]    Script Date: 11/11/2024 23:30:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIA](
	[IdCategoria] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](100) NULL,
	[Estado] [bit] NULL,
	[FechaCreacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 11/11/2024 23:30:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[IdCliente] [int] IDENTITY(1,1) NOT NULL,
	[Documento] [varchar](50) NULL,
	[Nombre] [varchar](50) NULL,
	[Correo] [varchar](50) NULL,
	[Telefono] [varchar](50) NULL,
	[Estado] [bit] NULL,
	[FechaCreacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMPRA]    Script Date: 11/11/2024 23:30:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMPRA](
	[IdCompra] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NULL,
	[IdProveedor] [int] NULL,
	[TipoDocumento] [varchar](50) NULL,
	[Documento] [varchar](50) NULL,
	[MontoTotal] [decimal](10, 2) NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCompra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETALLE_COMPRA]    Script Date: 11/11/2024 23:30:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETALLE_COMPRA](
	[IdDetalleCompra] [int] IDENTITY(1,1) NOT NULL,
	[IdCompra] [int] NULL,
	[IdProducto] [int] NULL,
	[PrecioCompra] [decimal](10, 2) NULL,
	[PrecioVenta] [decimal](10, 2) NULL,
	[Cantidad] [int] NULL,
	[MontoTotal] [decimal](10, 2) NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDetalleCompra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETALLE_VENTA]    Script Date: 11/11/2024 23:30:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETALLE_VENTA](
	[IdDetalleVenta] [int] IDENTITY(1,1) NOT NULL,
	[IdVenta] [int] NULL,
	[IdProducto] [int] NULL,
	[PrecioVenta] [decimal](10, 2) NULL,
	[Cantidad] [int] NULL,
	[Subtotal] [decimal](10, 2) NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDetalleVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NEGOCIO]    Script Date: 11/11/2024 23:30:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NEGOCIO](
	[IdNegocio] [int] NOT NULL,
	[Nombre] [varchar](60) NULL,
	[CUIT] [varchar](25) NULL,
	[Direccion] [varchar](60) NULL,
	[Provincia] [varchar](60) NULL,
	[Localidad] [varchar](60) NULL,
	[Logo] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdNegocio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERMISO]    Script Date: 11/11/2024 23:30:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERMISO](
	[IdPermiso] [int] IDENTITY(1,1) NOT NULL,
	[IdRol] [int] NULL,
	[NombreMenu] [varchar](50) NULL,
	[FechaCreacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPermiso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTO]    Script Date: 11/11/2024 23:30:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTO](
	[IdProducto] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [varchar](50) NULL,
	[Nombre] [varchar](50) NULL,
	[Descripcion] [varchar](100) NULL,
	[IdCategoria] [int] NULL,
	[Stock] [int] NULL,
	[PrecioCompra] [decimal](18, 2) NULL,
	[PrecioVenta] [decimal](18, 2) NULL,
	[Estado] [bit] NULL,
	[FechaCreacion] [datetime] NULL,
	[IdProveedor] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROVEEDOR]    Script Date: 11/11/2024 23:30:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROVEEDOR](
	[IdProveedor] [int] IDENTITY(1,1) NOT NULL,
	[Documento] [varchar](50) NULL,
	[RazonSocial] [varchar](50) NULL,
	[Correo] [varchar](50) NULL,
	[Telefono] [varchar](50) NULL,
	[Estado] [bit] NULL,
	[FechaCreacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROL]    Script Date: 11/11/2024 23:30:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROL](
	[IdRol] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](50) NULL,
	[FechaCreacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 11/11/2024 23:30:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Documento] [varchar](50) NULL,
	[NombreCompleto] [varchar](50) NULL,
	[Correo] [varchar](50) NULL,
	[Clave] [varchar](50) NULL,
	[IdRol] [int] NULL,
	[Estado] [bit] NULL,
	[FechaCreacion] [datetime] NULL,
	[Nacionalidad] [varchar](50) NULL,
	[Ciudad] [varchar](50) NULL,
	[Direccion] [varchar](100) NULL,
	[Telefono] [varchar](25) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VENTA]    Script Date: 11/11/2024 23:30:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VENTA](
	[IdVenta] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NULL,
	[TipoDocumento] [varchar](50) NULL,
	[Documento] [varchar](50) NULL,
	[DocumentoCliente] [varchar](50) NULL,
	[NombreCliente] [varchar](100) NULL,
	[MontoPago] [decimal](10, 2) NULL,
	[MontoCambio] [decimal](10, 2) NULL,
	[MontoTotal] [decimal](10, 2) NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CATEGORIA] ON 

INSERT [dbo].[CATEGORIA] ([IdCategoria], [Descripcion], [Estado], [FechaCreacion]) VALUES (1, N'Metales', 1, CAST(N'2024-10-20T19:31:27.877' AS DateTime))
INSERT [dbo].[CATEGORIA] ([IdCategoria], [Descripcion], [Estado], [FechaCreacion]) VALUES (2, N'Cementos', 1, CAST(N'2024-10-20T20:01:54.720' AS DateTime))
INSERT [dbo].[CATEGORIA] ([IdCategoria], [Descripcion], [Estado], [FechaCreacion]) VALUES (3, N'Ceramicos', 1, CAST(N'2024-10-20T20:03:51.793' AS DateTime))
SET IDENTITY_INSERT [dbo].[CATEGORIA] OFF
GO
SET IDENTITY_INSERT [dbo].[CLIENTE] ON 

INSERT [dbo].[CLIENTE] ([IdCliente], [Documento], [Nombre], [Correo], [Telefono], [Estado], [FechaCreacion]) VALUES (1, N'292912', N'Jorge Lanata', N'jlanata@correo.com', N'21312', 1, CAST(N'2024-10-20T23:09:13.843' AS DateTime))
INSERT [dbo].[CLIENTE] ([IdCliente], [Documento], [Nombre], [Correo], [Telefono], [Estado], [FechaCreacion]) VALUES (2, N'12341231', N'Martin', N'Pescador@martin.com', N'132321321', 1, CAST(N'2024-10-22T14:41:48.430' AS DateTime))
INSERT [dbo].[CLIENTE] ([IdCliente], [Documento], [Nombre], [Correo], [Telefono], [Estado], [FechaCreacion]) VALUES (3, N'12315653', N'asdadad', N'dadsad@dsadsa.com', N'151241241', 1, CAST(N'2024-10-28T16:55:24.340' AS DateTime))
SET IDENTITY_INSERT [dbo].[CLIENTE] OFF
GO
SET IDENTITY_INSERT [dbo].[COMPRA] ON 

INSERT [dbo].[COMPRA] ([IdCompra], [IdUsuario], [IdProveedor], [TipoDocumento], [Documento], [MontoTotal], [FechaRegistro]) VALUES (1, 1, 3, N'Factura C', N'00001', CAST(500.00 AS Decimal(10, 2)), CAST(N'2024-11-02T01:21:16.953' AS DateTime))
INSERT [dbo].[COMPRA] ([IdCompra], [IdUsuario], [IdProveedor], [TipoDocumento], [Documento], [MontoTotal], [FechaRegistro]) VALUES (2, 1, 2, N'Factura C', N'00002', CAST(35.00 AS Decimal(10, 2)), CAST(N'2024-11-03T03:07:53.780' AS DateTime))
INSERT [dbo].[COMPRA] ([IdCompra], [IdUsuario], [IdProveedor], [TipoDocumento], [Documento], [MontoTotal], [FechaRegistro]) VALUES (3, 1, 1, N'Factura A', N'00003', CAST(385000.00 AS Decimal(10, 2)), CAST(N'2024-11-11T13:47:27.903' AS DateTime))
SET IDENTITY_INSERT [dbo].[COMPRA] OFF
GO
SET IDENTITY_INSERT [dbo].[DETALLE_COMPRA] ON 

INSERT [dbo].[DETALLE_COMPRA] ([IdDetalleCompra], [IdCompra], [IdProducto], [PrecioCompra], [PrecioVenta], [Cantidad], [MontoTotal], [FechaRegistro]) VALUES (1, 1, 5, CAST(500.00 AS Decimal(10, 2)), CAST(750.00 AS Decimal(10, 2)), 1, CAST(500.00 AS Decimal(10, 2)), CAST(N'2024-11-02T01:21:16.957' AS DateTime))
INSERT [dbo].[DETALLE_COMPRA] ([IdDetalleCompra], [IdCompra], [IdProducto], [PrecioCompra], [PrecioVenta], [Cantidad], [MontoTotal], [FechaRegistro]) VALUES (2, 2, 1, CAST(35.00 AS Decimal(10, 2)), CAST(38.50 AS Decimal(10, 2)), 1, CAST(35.00 AS Decimal(10, 2)), CAST(N'2024-11-03T03:07:53.780' AS DateTime))
INSERT [dbo].[DETALLE_COMPRA] ([IdDetalleCompra], [IdCompra], [IdProducto], [PrecioCompra], [PrecioVenta], [Cantidad], [MontoTotal], [FechaRegistro]) VALUES (3, 3, 13, CAST(1250.00 AS Decimal(10, 2)), CAST(1437.50 AS Decimal(10, 2)), 100, CAST(125000.00 AS Decimal(10, 2)), CAST(N'2024-11-11T13:47:27.903' AS DateTime))
SET IDENTITY_INSERT [dbo].[DETALLE_COMPRA] OFF
GO
SET IDENTITY_INSERT [dbo].[DETALLE_VENTA] ON 

INSERT [dbo].[DETALLE_VENTA] ([IdDetalleVenta], [IdVenta], [IdProducto], [PrecioVenta], [Cantidad], [Subtotal], [FechaRegistro]) VALUES (1, 1, 5, CAST(750.00 AS Decimal(10, 2)), 1, CAST(750.00 AS Decimal(10, 2)), CAST(N'2024-11-03T23:07:16.783' AS DateTime))
INSERT [dbo].[DETALLE_VENTA] ([IdDetalleVenta], [IdVenta], [IdProducto], [PrecioVenta], [Cantidad], [Subtotal], [FechaRegistro]) VALUES (2, 2, 4, CAST(13350.00 AS Decimal(10, 2)), 50, CAST(667500.00 AS Decimal(10, 2)), CAST(N'2024-11-03T23:15:48.540' AS DateTime))
INSERT [dbo].[DETALLE_VENTA] ([IdDetalleVenta], [IdVenta], [IdProducto], [PrecioVenta], [Cantidad], [Subtotal], [FechaRegistro]) VALUES (3, 3, 8, CAST(4050.00 AS Decimal(10, 2)), 5, CAST(20250.00 AS Decimal(10, 2)), CAST(N'2024-11-06T10:25:33.507' AS DateTime))
SET IDENTITY_INSERT [dbo].[DETALLE_VENTA] OFF
GO
SET IDENTITY_INSERT [dbo].[PERMISO] ON 

INSERT [dbo].[PERMISO] ([IdPermiso], [IdRol], [NombreMenu], [FechaCreacion]) VALUES (1, 1, N'SettingsLabel', CAST(N'2024-09-24T12:25:39.137' AS DateTime))
INSERT [dbo].[PERMISO] ([IdPermiso], [IdRol], [NombreMenu], [FechaCreacion]) VALUES (2, 1, N'UserLabel', CAST(N'2024-09-24T12:25:39.137' AS DateTime))
INSERT [dbo].[PERMISO] ([IdPermiso], [IdRol], [NombreMenu], [FechaCreacion]) VALUES (3, 1, N'VentasLabel', CAST(N'2024-09-24T12:25:39.137' AS DateTime))
SET IDENTITY_INSERT [dbo].[PERMISO] OFF
GO
SET IDENTITY_INSERT [dbo].[PRODUCTO] ON 

INSERT [dbo].[PRODUCTO] ([IdProducto], [Codigo], [Nombre], [Descripcion], [IdCategoria], [Stock], [PrecioCompra], [PrecioVenta], [Estado], [FechaCreacion], [IdProveedor]) VALUES (1, N'101010', N'Chapa galvanizada', N'20x10', 1, 101, CAST(35.00 AS Decimal(18, 2)), CAST(38.50 AS Decimal(18, 2)), 1, CAST(N'2024-10-20T22:52:00.190' AS DateTime), 2)
INSERT [dbo].[PRODUCTO] ([IdProducto], [Codigo], [Nombre], [Descripcion], [IdCategoria], [Stock], [PrecioCompra], [PrecioVenta], [Estado], [FechaCreacion], [IdProveedor]) VALUES (2, N'04F1CFC613', N'Ladrillo', N'Hueco 65x20 cm', 7, 100, CAST(745.00 AS Decimal(18, 2)), CAST(856.75 AS Decimal(18, 2)), 1, CAST(N'2024-10-21T10:56:31.017' AS DateTime), 2)
INSERT [dbo].[PRODUCTO] ([IdProducto], [Codigo], [Nombre], [Descripcion], [IdCategoria], [Stock], [PrecioCompra], [PrecioVenta], [Estado], [FechaCreacion], [IdProveedor]) VALUES (3, N'E3BB601441', N'Ladrillo', N'20x10 cm', 7, 25000, CAST(945.00 AS Decimal(18, 2)), CAST(1134.00 AS Decimal(18, 2)), 1, CAST(N'2024-10-21T17:21:47.860' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[PRODUCTO] OFF
GO
SET IDENTITY_INSERT [dbo].[PROVEEDOR] ON 

INSERT [dbo].[PROVEEDOR] ([IdProveedor], [Documento], [RazonSocial], [Correo], [Telefono], [Estado], [FechaCreacion]) VALUES (1, N'20202023232', N'SRL', N'humoNegro@correo.com', N'32132132', 1, CAST(N'2024-10-20T21:21:31.043' AS DateTime))
INSERT [dbo].[PROVEEDOR] ([IdProveedor], [Documento], [RazonSocial], [Correo], [Telefono], [Estado], [FechaCreacion]) VALUES (2, N'11111111421', N'Pajaro Negro SRL', N'PajaroNegro@correo.com', N'123123132', 1, CAST(N'2024-10-22T09:56:42.387' AS DateTime))
INSERT [dbo].[PROVEEDOR] ([IdProveedor], [Documento], [RazonSocial], [Correo], [Telefono], [Estado], [FechaCreacion]) VALUES (3, N'12345678512', N'Proveedor Ejemplo', N'proveedor@example.com', N'1234567890', 1, CAST(N'2024-10-30T14:01:44.067' AS DateTime))
SET IDENTITY_INSERT [dbo].[PROVEEDOR] OFF
GO
SET IDENTITY_INSERT [dbo].[ROL] ON 

INSERT [dbo].[ROL] ([IdRol], [Descripcion], [FechaCreacion]) VALUES (1, N'ADMINISTRADOR', CAST(N'2024-09-23T15:52:03.697' AS DateTime))
INSERT [dbo].[ROL] ([IdRol], [Descripcion], [FechaCreacion]) VALUES (2, N'EMPLEADO', CAST(N'2024-09-24T12:27:21.550' AS DateTime))
INSERT [dbo].[ROL] ([IdRol], [Descripcion], [FechaCreacion]) VALUES (3, N'GERENTE', CAST(N'2024-09-30T09:26:00.343' AS DateTime))
SET IDENTITY_INSERT [dbo].[ROL] OFF
GO
SET IDENTITY_INSERT [dbo].[USUARIO] ON 

INSERT [dbo].[USUARIO] ([IdUsuario], [Documento], [NombreCompleto], [Correo], [Clave], [IdRol], [Estado], [FechaCreacion], [Nacionalidad], [Ciudad], [Direccion], [Telefono]) VALUES (1, N'43532954', N'ADMIN', N'admin@mail.com', N'123', 1, 1, CAST(N'2024-09-23T15:52:03.697' AS DateTime), N'Argentina', N'Corrientes', N'calle 123', N'1231231231')
INSERT [dbo].[USUARIO] ([IdUsuario], [Documento], [NombreCompleto], [Correo], [Clave], [IdRol], [Estado], [FechaCreacion], [Nacionalidad], [Ciudad], [Direccion], [Telefono]) VALUES (2, N'000', N'Empleado', N'empleado@mail.com', N'123', 2, 1, CAST(N'2024-09-24T12:37:58.983' AS DateTime), NULL, NULL, NULL, NULL)
INSERT [dbo].[USUARIO] ([IdUsuario], [Documento], [NombreCompleto], [Correo], [Clave], [IdRol], [Estado], [FechaCreacion], [Nacionalidad], [Ciudad], [Direccion], [Telefono]) VALUES (3, N'1111', N'Gerente', N'gerente@gerente.com', N'gerente', 3, 1, CAST(N'2024-09-30T16:49:08.953' AS DateTime), NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[USUARIO] OFF
GO
SET IDENTITY_INSERT [dbo].[VENTA] ON 

INSERT [dbo].[VENTA] ([IdVenta], [IdUsuario], [TipoDocumento], [Documento], [DocumentoCliente], [NombreCliente], [MontoPago], [MontoCambio], [MontoTotal], [FechaRegistro]) VALUES (1, 1, N'Factura C', N'00001', N'00001', N'00001', CAST(1.00 AS Decimal(10, 2)), CAST(1.00 AS Decimal(10, 2)), CAST(750.00 AS Decimal(10, 2)), CAST(N'2024-11-03T23:07:16.773' AS DateTime))
INSERT [dbo].[VENTA] ([IdVenta], [IdUsuario], [TipoDocumento], [Documento], [DocumentoCliente], [NombreCliente], [MontoPago], [MontoCambio], [MontoTotal], [FechaRegistro]) VALUES (2, 1, N'Factura B', N'00002', N'12315653', N'asdadad', CAST(667500.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), CAST(667500.00 AS Decimal(10, 2)), CAST(N'2024-11-03T23:15:48.537' AS DateTime))
INSERT [dbo].[VENTA] ([IdVenta], [IdUsuario], [TipoDocumento], [Documento], [DocumentoCliente], [NombreCliente], [MontoPago], [MontoCambio], [MontoTotal], [FechaRegistro]) VALUES (3, 2, N'Factura C', N'00003', N'12341231', N'Martin', CAST(24000.00 AS Decimal(10, 2)), CAST(12.50 AS Decimal(10, 2)), CAST(23987.50 AS Decimal(10, 2)), CAST(N'2024-11-06T10:25:33.507' AS DateTime))
SET IDENTITY_INSERT [dbo].[VENTA] OFF
GO
ALTER TABLE [dbo].[CATEGORIA] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[CLIENTE] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[COMPRA] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[DETALLE_COMPRA] ADD  DEFAULT ((0)) FOR [PrecioCompra]
GO
ALTER TABLE [dbo].[DETALLE_COMPRA] ADD  DEFAULT ((0)) FOR [PrecioVenta]
GO
ALTER TABLE [dbo].[DETALLE_COMPRA] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[DETALLE_VENTA] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[PERMISO] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[PRODUCTO] ADD  DEFAULT ((0)) FOR [Stock]
GO
ALTER TABLE [dbo].[PRODUCTO] ADD  DEFAULT ((0)) FOR [PrecioCompra]
GO
ALTER TABLE [dbo].[PRODUCTO] ADD  DEFAULT ((0)) FOR [PrecioVenta]
GO
ALTER TABLE [dbo].[PRODUCTO] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[PROVEEDOR] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[ROL] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[USUARIO] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[VENTA] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[COMPRA]  WITH CHECK ADD FOREIGN KEY([IdProveedor])
REFERENCES [dbo].[PROVEEDOR] ([IdProveedor])
GO
ALTER TABLE [dbo].[COMPRA]  WITH CHECK ADD FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[USUARIO] ([IdUsuario])
GO
ALTER TABLE [dbo].[DETALLE_COMPRA]  WITH CHECK ADD FOREIGN KEY([IdCompra])
REFERENCES [dbo].[COMPRA] ([IdCompra])
GO
ALTER TABLE [dbo].[DETALLE_COMPRA]  WITH CHECK ADD FOREIGN KEY([IdProducto])
REFERENCES [dbo].[PRODUCTO] ([IdProducto])
GO
ALTER TABLE [dbo].[DETALLE_VENTA]  WITH CHECK ADD FOREIGN KEY([IdProducto])
REFERENCES [dbo].[PRODUCTO] ([IdProducto])
GO
ALTER TABLE [dbo].[DETALLE_VENTA]  WITH CHECK ADD FOREIGN KEY([IdVenta])
REFERENCES [dbo].[VENTA] ([IdVenta])
GO
ALTER TABLE [dbo].[PERMISO]  WITH CHECK ADD FOREIGN KEY([IdRol])
REFERENCES [dbo].[ROL] ([IdRol])
GO
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD FOREIGN KEY([IdCategoria])
REFERENCES [dbo].[CATEGORIA] ([IdCategoria])
GO
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD  CONSTRAINT [FK_ProdProv_Producto] FOREIGN KEY([IdProveedor])
REFERENCES [dbo].[PROVEEDOR] ([IdProveedor])
GO
ALTER TABLE [dbo].[PRODUCTO] CHECK CONSTRAINT [FK_ProdProv_Producto]
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD FOREIGN KEY([IdRol])
REFERENCES [dbo].[ROL] ([IdRol])
GO
ALTER TABLE [dbo].[VENTA]  WITH CHECK ADD FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[USUARIO] ([IdUsuario])
GO
/****** Object:  StoredProcedure [dbo].[sp_EditarProveedor]    Script Date: 11/11/2024 23:30:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_EditarProveedor]
    @IdProveedor INT,
    @Documento NVARCHAR(50),
    @RazonSocial NVARCHAR(100),
    @Correo NVARCHAR(100),
    @Telefono NVARCHAR(20),
    @Estado BIT,
    @Resultado INT OUTPUT,
    @Mensaje NVARCHAR(500) OUTPUT
AS
BEGIN
    BEGIN TRY
        UPDATE PROVEEDOR
        SET Documento = @Documento,
            RazonSocial = @RazonSocial,
            Correo = @Correo,
            Telefono = @Telefono,
            Estado = @Estado
        WHERE IdProveedor = @IdProveedor;

        SET @Resultado = 1;
        SET @Mensaje = 'Proveedor actualizado correctamente.';
    END TRY
    BEGIN CATCH
        SET @Resultado = 0;
        SET @Mensaje = ERROR_MESSAGE();
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ModificarCliente]    Script Date: 11/11/2024 23:30:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[sp_ModificarCliente](
@IdCliente int,
@Documento varchar(50),
@Nombre varchar(50),
@Correo varchar(50),
@Telefono varchar(50),
@Estado bit,
@Resultado int output,
@Mensaje varchar(500) output
)as 
begin 
	SET @Resultado = 1
	DECLARE @IDPERSONA INT
	IF NOT EXISTS (SELECT * FROM CLIENTE WHERE Documento = @Documento and IdCliente != @IdCliente)
	begin 
		update CLIENTE set 
		Documento = @Documento,
		Nombre = @Nombre,
		Correo = @Correo,
		Telefono =@Telefono,
		Estado = @Estado 
		WHERE IdCliente = @IdCliente
	end
	else
	begin
		set @Resultado = 0 
		set @Mensaje = 'El numero de documento ya existe'
	end
end
GO
/****** Object:  StoredProcedure [dbo].[sp_RegistrarCliente]    Script Date: 11/11/2024 23:30:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[sp_RegistrarCliente](
@Documento varchar(50),
@Nombre varchar(50),
@Correo varchar(50),
@Telefono varchar(50),
@Estado bit,
@Resultado int output,
@Mensaje varchar(500) output
)as 
begin 
	SET @Resultado = 0
	DECLARE @IDPERSONA INT
	IF NOT EXISTS (SELECT * FROM CLIENTE WHERE Documento = @Documento)
	begin 
		insert into CLIENTE(Documento,Nombre,Correo,Telefono,Estado) values(
		@Documento, @Nombre, @Correo, @Telefono, @Estado)

		set @Resultado = SCOPE_IDENTITY()
	end
	else
		set @Mensaje = 'El numero de documento ya existe'
end
GO
/****** Object:  StoredProcedure [dbo].[sp_RegistrarCompra]    Script Date: 11/11/2024 23:30:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_RegistrarCompra](
	@IdUsuario int,
	@IdProveedor int,
	@TipoDocumento varchar(500),
	@Documento varchar(500),
	@MontoTotal decimal(18,2),
	@DetalleCompra [EDetalle_Compra] readonly,
	@Resultado bit output,
	@Mensaje varchar(500) output
)
as 
begin
	begin try 
		declare @idcompra int = 0
		set @Resultado = 1
		set @Mensaje = ''

		begin transaction registro
		insert into COMPRA(IdUsuario, IdProveedor, TipoDocumento, Documento, MontoTotal)
		values (@IdUsuario, @IdProveedor, @TipoDocumento, @Documento, @MontoTotal)

		set @idcompra = SCOPE_IDENTITY()

		insert into DETALLE_COMPRA(IdCompra, IdProducto, PrecioCompra,PrecioVenta,Cantidad,MontoTotal)
		select @idcompra,IdProducto, PrecioCompra, PrecioVenta, Cantidad, MontoTotal from @DetalleCompra

		update p set p.Stock = p.Stock + dc.Cantidad,
		p.PrecioCompra = dc.PrecioCompra,
		p.PrecioVenta = dc.PrecioVenta,
		p.IdProveedor = c.IdProveedor
		from PRODUCTO p
		inner join @DetalleCompra dc on dc.IdProducto = p.IdProducto
		inner join COMPRA c on c.IdCompra = @idcompra
		commit transaction registro

	end try
	begin catch 
		set @Resultado = 0
		set @Mensaje = ERROR_MESSAGE()
		rollback transaction registro
	end catch
end
GO
/****** Object:  StoredProcedure [dbo].[sp_RegistrarProveedor]    Script Date: 11/11/2024 23:30:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_RegistrarProveedor]
    @Documento VARCHAR(50),
    @RazonSocial VARCHAR(100),
    @Correo VARCHAR(100),
    @Telefono VARCHAR(20),
    @Estado BIT,
    @Resultado INT OUTPUT,
    @Mensaje VARCHAR(500) OUTPUT
AS
BEGIN
    BEGIN TRY
        INSERT INTO PROVEEDOR (Documento, RazonSocial, Correo, Telefono, Estado)
        VALUES (@Documento, @RazonSocial, @Correo, @Telefono, @Estado);

        SET @Resultado = 1;
        SET @Mensaje = 'Proveedor registrado correctamente.';
    END TRY
    BEGIN CATCH
        SET @Resultado = 0;
        SET @Mensaje = ERROR_MESSAGE();
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_RegistrarVenta]    Script Date: 11/11/2024 23:30:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[usp_RegistrarVenta] (
@IdUsuario int,
@TipoDocumento varchar (500),
@NumeroDocumento varchar (500),
@DocumentoCliente varchar (500),
@NombreCliente varchar (500),
@MontoPago decimal (18,2),
@MontoCambio decimal (18,2),
@MontoTotal decimal (18,2),
@DetalleVenta [EDetalle_Venta] READONLY,
@Resultado bit output,
@Mensaje varchar (500) output
)
as
	begin
		begin try
			declare @idventa int = 0
			set @Resultado = 1
			set @Mensaje = ''

			begin transaction registro

			insert into VENTA (IdUsuario, TipoDocumento, Documento, DocumentoCliente, NombreCliente, MontoPago, MontoCambio, MontoTotal)
			values(@IdUsuario,@TipoDocumento, @NumeroDocumento, @DocumentoCliente, @NombreCliente, @MontoPago, @MontoCambio,@MontoTotal)

			set @idventa = SCOPE_IDENTITY()

			insert into DETALLE_VENTA(IdVenta, IdProducto, PrecioVenta, Cantidad, SubTotal)
			select @idventa, IdProducto, PrecioVenta, Cantidad, SubTotal from @DetalleVenta


			commit transaction registro
		end try
		begin catch
			set @Resultado = 0
			set @Mensaje = ERROR_MESSAGE()
			rollback transaction registro
		end catch
end
GO
USE [master]
GO
